*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
}

.board {
  height: 150px;
  width: 150px;
  /* height: 100px;
  width: 100px; */
  border: 1px solid black;
}

.top {
  display: inline-block;
  background-color: antiquewhite;
}
.middle {
  display: inline-block;
  background-color: aquamarine;
}
.bottom {
  display: inline-block;
  background-color: beige;
}
